* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Open sans', sans-serif;
    width: 450px;
    padding: 20px;
    margin-top: 60px;
    margin: auto;
}

.container-section-all {
    width: 95%;
    margin: auto;
}

ul li i {
    color: white;
}

header {
    background: linear-gradient(transparent, #000000 100%), url('https://occ-0-2982-3933.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABV-JYo9IzDu8uJ_g_gSCFQsL3CgLQnXUmpsOD8ql7yZKAaKR-AP9D2huRwO9mpDfyX9LtfHYf_YbYEY4xzE0RLwH9act.webp?r=223');
    padding: 30px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img, h2 {
    display: inline-block;
}

nav ul {
    display: inline-block;
    list-style: none;
}

.user-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-content li {
    margin: 10px;
}

ul li a {
    text-decoration: none;
}

.section-main {
    margin-top: 50px;
}

.img-title {
    margin-bottom: 0px;
}

header .brand {
    width: 25px;
}

header .user {
    width: 25px;
}

.section-items-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.section-items-item ul li {
    display: inline-block;
}

.section-items-item ul li a {
    color: white;
}

.img-title {
    width: 250px;
    margin-top: 200px;
}

.section-items-i li {
    display: inline-block;
    font-size: 13px;
    color: white;
}

.section-items-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 0px;
}

.section-items-i .point {
    font-size: 40px;
    color: #474B4E;
    margin-bottom: 35px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 0px;
    padding-top: 0px;
}

.container-buttons-button {
    list-style: none;
    color: white;
}

.container-buttons ul, button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: -webkit-box;
    background-color: white;
    color: black;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border: none;
    height: 35px;
    border-radius: 5px;
}

#play {
    margin-right: 7px;
}

main {
    background-color: black;
}

.container-movies {
    display: block;
    background: url('../img/movies.png');
    width: 100%;
    margin-right: 1%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.container-movies {
    width: 170px;
    height: 220px;
    margin: 10px;
    border-radius: 10px;
}

.brandy {
    width: 15px;
    margin: 10px;
    margin-bottom: 170px;
}

.title {
    width: 120px;
    margin-top: 150px;
}
